<span class mat-dialog-title>{{data.action}} rol</span>
<div class="container">
  <form [formGroup]="form">
    <div class="d-flex flex-row">
      <mat-form-field class="col-12" appearance="outline">
      <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
    <strong><p><mat-checkbox color="primary" formControlName="agrega_usuarios">Crear Usuario</mat-checkbox></p></strong>
    </div>
    <div>
    <strong><p><mat-checkbox color="primary" formControlName="ve_reportes">Ver Reporte</mat-checkbox></p></strong>
    </div>
   <div>
    <strong><p><mat-checkbox color="primary" formControlName="puede_timbrar">Agregar CSD</mat-checkbox></p></strong>
   </div>
  </form>
</div>
<div class="actions" align="end" mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Cancelar
  </button>
  <button (click)="clickSaveRole()" mat-raised-button color="primary">
    Guardar
  </button>
</div>
