.logo {
  width: 45%;
  background-position: left !important;
  padding: 0 8px;
}
.toolbar-row{
  background-color: green ;
  padding: 25px;
  height: auto;
  color: white;
}
.info-navbar {
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  gap: 16px;
}
