<mat-toolbar>
  <mat-toolbar-row class="toolbar-row mb-2">
    <div>
      {{this.username}}
    </div>
    <div class="w-100 d-flex justify-content-end">
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button (click)="handleProfile()" mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <div mat-menu-item disabled>
        <mat-icon>verified_user</mat-icon>
        <span>Administrador</span>
      </div>
      <button (click)="handleLogout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row class="mb-2">
    <div  (click)="handleClickLogo()" class="logo"></div>
    <menu class="info-navbar">
      <button *ngIf="handlePermissions()" mat-raised-button>
        <mat-icon (click)="handleClickCsd()" class="fw-bold" color="primary">key</mat-icon>
        <span class="fw-bold" style="color: green">CSD</span>
      </button>
      <button *ngIf="handlePermissions()" mat-raised-button>
        <mat-icon class="fw-bold" color="primary">description</mat-icon>
        <span class="fw-bold" style="color: green">Reportes</span>
      </button>
      <button (click)="handleClickUsers()" *ngIf="handlePermissions()" mat-raised-button>
        <mat-icon class="fw-bold" color="primary">people</mat-icon>
        <span class="fw-bold" style="color: green">Usuarios</span>
      </button>
    </menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
