<span class mat-dialog-title>Asignar Permisos - Usuario</span>
<div class="container">
  <form [formGroup]="form">
    <div class="d-flex flex-row">
    <strong><p><mat-checkbox formControlName="usuario">Crear Usuario</mat-checkbox></p></strong>
    </div>
    <div>
    <strong><p><mat-checkbox formControlName="reporte">Ver Reporte</mat-checkbox></p></strong>
    </div>
   <div>
    <strong><p><mat-checkbox formControlName="csd">Agregar CSD</mat-checkbox></p></strong>
   </div>
  </form>
</div>
<div class="actions" align="end" mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Cancelar
  </button>
  <button (click)="clickGuardarrol()" mat-raised-button color="primary">
    Guardar
  </button>
</div>
