.button-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-file {
  border: 1px dashed black;
  background-color: rgba(162, 162, 162, 0.11);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}
.p-file {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-icon{
  transform: scale(2);
  margin-top: 20px;
  margin-bottom: 20px;
}
