<span class mat-dialog-title>Nueva contraseña</span>
<section class="m-2 pb-2" mat-dialog-content>
  <form [formGroup]="form" >
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Contraseña actual: </mat-label>
      <mat-icon (click)="togleCurrentPassword()" matSuffix> {{showCurrentPassword?'visibility_off':'visibility'}}</mat-icon>
      <input [type]="showCurrentPassword ? 'text' : 'password'" matInput formControlName="currentPassword" />
      <mat-error *ngIf="this.form.controls['currentPassword'].hasError('required')">
        El campo Contraseña actual es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Nueva contraseña: </mat-label>
      <input minlength="6" [type]="showNewPassword ? 'text' : 'password'" matInput formControlName="newPassword" />
      <mat-icon (click)="togleNewPassword()" matSuffix> {{showNewPassword?'visibility_off':'visibility'}}</mat-icon>
      <mat-error *ngIf="this.form.controls['newPassword'].hasError('required')">
        El campo Nueva contraseña es obligatorio
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Confirme nueva contraseña: </mat-label>
      <input type="password" matInput formControlName="confirmNewPassword" />
      <mat-error *ngIf="this.form.controls['confirmNewPassword'].errors?.['confirmedValidator']">
        Las contraseñas no coinciden
      </mat-error>
      <mat-error *ngIf="this.form.controls['confirmNewPassword'].hasError('required')">
        El campo confirmar nueva contraseña es obligatorio
      </mat-error>
    </mat-form-field>
  </form>
</section>
<div class="actions" align="end" mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>
    Cancelar
  </button>
  <button (click)="clickRestorePassword()" mat-raised-button color="primary">
    Restaurar
  </button>
</div>
