<div class="d-flex flex-nowrap" style="height: 100vh">


  <div class="col-lg-6 izquierda d-flex justify-content-center">
      <!-- <img src="assets/logo.png" alt="Ecoticket logo"> -->

<div class="nuevacuenta">
  <p>¿No tienes cuenta?</p>
  <button type="button" class="btn btn-default col-12" (click)="clickRegister()">Regístrate aquí</button>
</div>


  </div>


    <div class="col-lg-6 derecha">

     <div class="logoeco d-flex justify-content-center">
        <img src="assets/logo_mini.png" height="150px" width="198px" alt="Ecoticket logo">
      </div>

      <div class="mensaje d-flex justify-content-center">
        <h1>Bienvenido <p>Ingrese con sus datos de acceso</p></h1>
      </div>


      <div class="row">
        <form [formGroup]="form">

          <div class="row d-flex justify-content-center">

            <div class="col-8">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="username">
              </mat-form-field>
            </div>

            <div class="col-8">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Contraseña</mat-label>
                <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                  {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
              </mat-form-field>
              <!-- <div class="row mb-3">
                <p class="link col-12" (click)="clickForgotMyPassword()">Olvidé mi contraseña</p>
              </div> -->
            </div>

            <div class="col-8 mt-4">
              <!-- <button  mat-raised-button color="primary" (click)="clickLogin()">
                Ingresar
              </button> -->

              <button class="btn btn-success btn-lg btn-block col-12" (click)="clickLogin()">Ingresar</button>

              <div class="row mt-3">
                <p class="recuperarpass" (click)="clickForgotMyPassword()">¿Olvidaste tu contraseña?</p>
              </div>


            </div>

          </div>

        </form>
      <div class="d-flex flex-row col-12 justify-content-center mb-2 mt-2">
        <h5 class="col-6 text-center">¿Aún no tienes una cuenta? Regístrate <a class="link" (click)="clickRegister()"> aquí</a> </h5>
      </div>
      <div class="mt-3 col-12 d-flex justify-content-center">
        <button (click)="clickFacturador()" mat-raised-button class="col-8">Quiero facturar un ticket</button>
      </div>




<!--
      <div class="row centered-row mt-5">
        <h5 class="col-6">¿Aún no tienes una cuenta? Regístrate <a class="link" (click)="clickRegister()"> aquí</a> </h5>
      </div> -->
      </div>
</div>
</div>
