<!-- <div class="fondo" style="height: 100vh;" [ngStyle]="{'background': 'linear-gradient(90deg, rgba(99,204,8,1) 0%, rgba(44,108,14,1) 100%)'}"> -->
<!-- <div class="fondo" style="height: 100vh;" [ngStyle]="{'background': 'linear-gradient(90deg, rgba(183,185,181,1) 0%, rgba(230,234,226,1) 78%)'}"> -->


<div class="contenedor" [ngStyle]="{'background': 'linear-gradient(90deg, rgba(223,249,206,1) 0%, rgba(235,237,232,1) 78%)'}">

<div class="register">


      <form [formGroup]="form" class="formulario">

        <!-- <div class="itemlogo">
          <img src="assets/logo_mini.png" height="100px" width="138px" alt="Ecoticket logo">
        </div>  -->


          <div class="item1">
            <mat-icon (click)="this.router.navigate(['/login'])">arrow_back</mat-icon>
              <h1>Quiero registrarme</h1>
          </div>

          <div class="item2">
            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Nombre comercial</mat-label>
              <input matInput formControlName="commercialName">
              <mat-error *ngIf="this.form.controls['commercialName'].hasError('required')">
                El campo Nombre Comercial es obligatorio
              </mat-error>
            </mat-form-field>
          </div>

          <div class="item3">
            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Persona</mat-label>
              <mat-select formControlName="person">
                <mat-option *ngFor=" let p of persons" [value]="p.value">
                  {{p.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Razón social</mat-label>
              <input matInput formControlName="businessName">
              <mat-error *ngIf="this.form.controls['businessName'].hasError('required')">
                El campo Razón Social es obligatorio
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="this.form.controls['email'].hasError('required')">
                El campo email es obligatorio
              </mat-error>
              <mat-error *ngIf="this.form.controls['email'].hasError('pattern')">
                El formato de correo electrónico no es el correcto
              </mat-error>
            </mat-form-field>
          </div>


          <div class="item4">

            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="this.form.controls['username'].hasError('required')">
                El campo Username es obligatorio
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Contraseña</mat-label>
              <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
              </mat-icon>
              <mat-error *ngIf="this.form.controls['password'].hasError('required')">
                El campo Contraseña es obligatorio
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12" >
              <mat-label>Repetir contraseña</mat-label>
              <input type="password" matInput formControlName="confirmPassword">
              <mat-error *ngIf="this.form.controls['confirmPassword'].errors?.['confirmedValidator']">
                Las contraseñas no coinciden
              </mat-error>
              <mat-error *ngIf="this.form.controls['confirmPassword'].hasError('required')">
                El campo Repetir contraseña es obligatorio
              </mat-error>
            </mat-form-field>
          </div>


          <div class="item5">
            <div class="container-file col-12">
              <div (click)="fileInputCfdi.click()">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <mat-icon class="card-icon">backup</mat-icon>
                  {{fileCfdi ? inputCfdi : 'Selecciona un archivo para la Constancia de Situación Fiscal'}}
                </div>
              </div>
             <input accept="application/pdf" id="file_cfdi" (change)="onCfdiSelected($event)" type="file" hidden #fileInputCfdi formControlName="cfdi">
            </div>
          </div>


          <div class="item6">
            <h3 class="col-md-6 text-success"> Servicios adicionales</h3>
            <mat-slide-toggle (change)="changeAdditionalServices($event)" formControlName="additionalServices" color="primary">Facturación</mat-slide-toggle>
          </div>


          <section *ngIf="showAdditonal" class="item7">
            <div class="row">
              <div class="col-6 mt-3">
                <h3>¿Cuenta con algún servicio de facturación?</h3>
              </div>
              <div class="col-6 mt-3">
                <mat-slide-toggle (change)="changeProvider($event)" formControlName="provider" color="primary">Sí</mat-slide-toggle>
              </div>
            </div>

            <div class="row" *ngIf="showProvider">
              <div class="col-lg-6">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-select formControlName="pac" >
                    <mat-option *ngFor="let p of pacs" [value]="p.value">
                      {{p.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="col-12" style="align-self: center">
                  <h5>¿No encuentras tu PAC? <a class="link" (click)="clickRequestPac()">Solicítalo aquí</a> </h5>
                </div>
              </div>

              <div class="col-lg-6">
                <section class="row">
                  <h3 class="text-black">Proveedor autorizado de certificación</h3>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Usuario PAC</mat-label>
                      <input matInput formControlName="userPac">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Contraseña PAC</mat-label>
                      <input type="password" matInput formControlName="passwordPac">
                    </mat-form-field>
                  </div>
                </section>
              </div>

            </div>
          </section>


          <div class="item8">
            <button class="btn btn-success btn-md col-12" (click)="clickRegister()">Guardar</button>
          </div>

      </form>






</div>
</div>
