<div class="row mt-3 mb-3">
  <div class="col-lg-1 d-lg-block d-none">
    <img src="assets/logo.png" alt="logo" width="85" height="65">
  </div>
  <div class="container col-11" >
    <div class="row centered-row">
      <form [formGroup]="form">
        <section class="row">
          <div class="row">
            <mat-icon (click)="this.router.navigate(['/login'])">arrow_back</mat-icon>
            <h2>Registro</h2>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline" class="col-11" >
              <mat-label>Nombre comercial</mat-label>
              <input matInput formControlName="commercialName">
              <mat-error *ngIf="this.form.controls['commercialName'].hasError('required')">
                El campo Nombre Comercial es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="col-10" >
              <mat-label>Persona</mat-label>
              <mat-select formControlName="person">
                <mat-option *ngFor=" let p of persons" [value]="p.value">
                  {{p.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="col-10" >
              <mat-label>Razón social</mat-label>
              <input matInput formControlName="businessName">
              <mat-error *ngIf="this.form.controls['businessName'].hasError('required')">
                El campo Razón Social es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="col-10" >
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="this.form.controls['email'].hasError('required')">
                El campo email es obligatorio
              </mat-error>
              <mat-error *ngIf="this.form.controls['email'].hasError('pattern')">
                El formato de correo electrónico no es el correcto
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="col-10" >
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="this.form.controls['username'].hasError('required')">
                El campo Username es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="col-10" >
              <mat-label>Contraseña</mat-label>
              <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
              </mat-icon>
              <mat-error *ngIf="this.form.controls['password'].hasError('required')">
                El campo Contraseña es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="col-10" >
              <mat-label>Repetir contraseña</mat-label>
              <input type="password" matInput formControlName="confirmPassword">
              <mat-error *ngIf="this.form.controls['confirmPassword'].errors?.['confirmedValidator']">
                Las contraseñas no coinciden
              </mat-error>
              <mat-error *ngIf="this.form.controls['confirmPassword'].hasError('required')">
                El campo Repetir contraseña es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <h3 class="col-md-6 text-success"> Servicios adicionales</h3>
          <div class="col-md-6">
            <mat-slide-toggle (change)="changeAdditionalServices($event)" formControlName="additionalServices" color="primary">Facturación</mat-slide-toggle>
          </div>
          <section style="margin-top: 10px" *ngIf="showAdditonal" >
            <div class="row">
              <div class="col-6">
                <h3>¿Cuenta con algún servicio de facturación?</h3>
              </div>
              <div class="col-6" >
                <mat-slide-toggle (change)="changeProvider($event)" formControlName="provider" color="primary">Sí</mat-slide-toggle>
              </div>
            </div>
            <section class="row" *ngIf="showProvider">
              <div class="col-lg-6">
                <mat-form-field class="col-10" appearance="outline">
                  <mat-select formControlName="pac" >
                    <mat-option *ngFor="let p of pacs" [value]="p.value">
                      {{p.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="col-7" style="align-self: center">
                  <h5>¿No encuentras tu PAC? <a class="link" (click)="clickRequestPac()">Solicítalo aquí</a> </h5>
                </div>
              </div>
              <div class="col-lg-6">
                <section class="row">
                  <h3 class="text-black">Proveedor autorizado de certificación</h3>
                  <div class="col-5">
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Usuario PAC</mat-label>
                      <input matInput formControlName="userPac">
                    </mat-form-field>
                  </div>
                  <div class="col-5">
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Contraseña PAC</mat-label>
                      <input type="password" matInput formControlName="passwordPac">
                    </mat-form-field>
                  </div>
                </section>
              </div>
            </section>
          </section>
        </section>
        <div class="row centered-row">
          <button class="col-6" color="primary" mat-raised-button (click)="clickRegister()">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
