@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');


.item1 { grid-area: uno; }
.item2 { grid-area: dos; }
.item3 { grid-area: tres; }
.item4 { grid-area: cuatro; }
.item5 { grid-area: cinco; }
.item6 { grid-area: seis; }
.item7 { grid-area: siete; }
.item8 { grid-area: ocho; }
.item9 { grid-area: nueve; }


.contenedor {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


.register{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 90%;
  background-color: #FFF;
  display: grid;
  // grid: auto;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);
  grid-template-areas:
    'uno uno'
    'dos dos'
    'tres tres'
    'cuatro cinco'
    'seis seis'
    'siete siete'
    'ocho ocho'
    'nueve nueve';
 }
 


// .mensaje h1{
//     font-family: 'Fira Sans', sans-serif;
//     font-size: 2rem;
//     color: #1C1C1C;
//   }
  
  
//   .mensaje h1 p{
//     font-family: Helvetica, sans-serif;
//     font-size: 1rem;
//     color: #7b7676;
//     margin-top: 10px;
//   }
  

// .seccion1{
//     //border: rgb(94, 92, 92) 1px dotted;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }