@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');


.itemlogo { grid-area: logo; }
.item1 { grid-area: uno; }
.item2 { grid-area: dos; }
.item3 { grid-area: tres; }
.item4 { grid-area: cuatro; }
.item5 { grid-area: cinco; }
.item6 { grid-area: seis; }
.item7 { grid-area: siete; }
.item8 { grid-area: ocho; }


.itemlogo, .item1>h1{
  text-align: center;
}


.contenedor {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
}


.register{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 100%;
  // margin-top: 0.5%;
  background-color: #FFF;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);

 }


 .formulario{
  display: grid;
  grid-template-areas:
    'logo logo'
    'uno uno'
    'dos dos'
    'tres cuatro'
    'cinco cinco'
    'seis seis'
    'siete siete'
    'ocho ocho';
    height: 100%;
    max-height: 100%;

 }


 .formulario > div {
  padding: 5px;
}

.item7 > div {
  padding: 5px;
}

.container-file {
  border: 1px dashed black;
  background-color: rgba(162, 162, 162, 0.11);
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}


// .item7{
//   border: 1px #f00 solid;
// }

// .mensaje h1{
//     font-family: 'Fira Sans', sans-serif;
//     font-size: 2rem;
//     color: #1C1C1C;
//   }


//   .mensaje h1 p{
//     font-family: Helvetica, sans-serif;
//     font-size: 1rem;
//     color: #7b7676;
//     margin-top: 10px;
//   }


// .seccion1{
//     //border: rgb(94, 92, 92) 1px dotted;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
