
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ecoticket-frontend-primary: mat.define-palette(mat.$green-palette);
$ecoticket-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ecoticket-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ecoticket-frontend-theme: mat.define-light-theme((
  color: (
    primary: $ecoticket-frontend-primary,
    accent: $ecoticket-frontend-accent,
    warn: $ecoticket-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ecoticket-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.column{
  display: flex;
  flex-direction: column;
}
.centered-row{
  justify-content: center;
}
.centered-column{
  align-items: center;
}
.link{
  color: green;
  font-weight: bold;
  font-size: .8rem;
  cursor: pointer;
}
mat-icon{
  cursor: pointer;
}
.logo {
  display: block;
  width: 100%;
  height: 4rem;
  background: url(./assets/logo.svg) no-repeat center;
  background-size: contain;
}
.my-dialog-container .mat-dialog-container {
  padding: 0;
}

.mat-dialog-content {
  margin: 0px !important;
}

.mat-dialog-title {
  margin: 16px 32px !important;
  padding: 4px !important;
  border-bottom: 3px solid var(--primary-color);
  display: inline-block !important;
}

.mat-dialog-actions {
  background-color: rgb(229, 228, 228);

  margin: 0 !important;
  padding: 8px !important;

  border-top: 1px solid rgba(177, 177, 177, 0.5);
}
