<span class mat-dialog-title>{{data.action}} sucursal</span>
<section class="m-2 pb-2" mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name"/>
      <mat-error *ngIf="form.controls['name'].hasError('required')">El campo es obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email"/>
      <mat-error *ngIf="form.controls['email'].hasError('required')">El campo es obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>RFC</mat-label>
      <input matInput formControlName="rfc"/>
      <mat-error *ngIf="form.controls['rfc'].hasError('required')">El campo es obligatorio</mat-error>
    </mat-form-field>
  </form>
</section>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close> Cancelar</button>
  <button (click)="handleClickSave()" color="primary" mat-raised-button> Guardar</button>
</div>
